@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Gray700: hsl(0, 0%, 20%);
    --Gray800: hsl(0, 0%, 12%);
    --Gray900: hsl(0, 0%, 8%);
    --Police: 'Inter', sans-serif;
}

body {
    background-color: var(--Gray900);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--Police);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--Gray800);
    max-width: 350px;
    width: 90%;
    height: auto;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.profil-picture {
    display: block;
    border-radius: 50%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.text {
    color: var(--White);
    font-size: 12px;
}

#name {
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: 700;
}

#localisation {
    color: var(--Green);
    margin-bottom: 30px;
    margin-top: 5px;
    font-weight: 600;
}


.list {
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    background-color: var(--Gray700);
    color: var(--White);
    border-radius: 5px;
    width: 90%;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    font-weight: 600;
}

.button:hover{
    color: black;
    background-color: var(--Green);
}